Source: pasmo
Section: devel
Priority: optional
Maintainer: Joost Yervante Damad <joost@lumatec.be>
Build-Depends: debhelper (>= 4.0.0), docbook-to-man
Standards-Version: 3.6.1

Package: pasmo
Architecture: any
Depends: ${shlibs:Depends}
Description: An easy to use Z80 cross-assembler
 A Z80 assembler capable of generating object code in formats suitable
 for many Z80 machines and emulators.  Pasmo generates fixed position
 code, can not be used to create relocatable object files for use with
 linkers. Pasmo is compatible with the syntax used in several old
 assemblers, by supporting several styles of numeric and string literals
 and by providing several names of the most used directives.
