#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE)
	docbook-to-man debian/cbios.sgml > cbios.7

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) clean
	dh_clean
	-rm -f cbios.7

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# copy rom files
	cp -f derived/bin/*.rom $(CURDIR)/debian/tmp/usr/share/cbios
	# copy config files for other emulators # currently not done!
	# cp -rf configs/NLMSX $(CURDIR)/debian/tmp/usr/share/cbios/configs
	# cp -rf configs/RuMSX $(CURDIR)/debian/tmp/usr/share/cbios/configs
	# cp -rf configs/blueMSX $(CURDIR)/debian/tmp/usr/share/cbios/configs
	# prepare for openMSX specially
	cp -rf configs/openMSX/* $(CURDIR)/debian/tmp/usr/share/openmsx/machines
	ln -s ../../../../cbios/cbios_main.rom $(CURDIR)/debian/tmp/usr/share/openmsx/machines/C-BIOS_MSX1/roms/cbios_main.rom
	ln -s ../../../../cbios/cbios_main.rom $(CURDIR)/debian/tmp/usr/share/openmsx/machines/C-BIOS_MSX2/roms/cbios_main.rom
	ln -s ../../../../cbios/cbios_sub.rom $(CURDIR)/debian/tmp/usr/share/openmsx/machines/C-BIOS_MSX2/roms/cbios_sub.rom


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman cbios.7
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
